@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Pacifico&display=swap');

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
  }

html, body{
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    
}

body{
    height: auto;
}

  .navbar{
    background: white;
    padding: 10px ;
}

.nav-colored { 
    background-color:#fff; 
}

.nav-transparent { 
    background-color:#fff;
}

.logo h5{
    width: 0px;
    height: 0px;
    opacity: 0;
    font-family: 'Pacifico', cursive;
    width: 100%;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
    .navbar {
      background-color: #fff;
    }
    .navbar-brand{
        display: none;
    }
    .mobile-brand{
        display: block;
    }
    .logo{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .logo h5{
        opacity: 1;
        padding-bottom: 30px;
        margin-top: -10px;
    }
  }

.mobile-brand{
    display: none;
}

nav span h5{
    color: #004175;
    font-size: 20px;
    margin-top: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #004175;
}

.navbar-toggler{
    background: #004175;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: #004175;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #056fc5;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 1px solid #004175;
    transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link.active{
    border-top: 1.5px solid #004175;
    color: #056fc5;
}

.navbar-nav button{
    padding: 10px 0;
}


nav ul li span{
    color: #004175;
}

  .sidebar-nav {
    width: var(--offcanvas-width);
  }




  .sidebar-link {
    display: flex;
    align-items: center;
  }


  .sidebar-link .right-icon {
    display: inline-flex;
  }


  .sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
  }


  .offcanvas{
      background-color: #fff;
  }

  .offcanvas .offcanvas-body .nav ul li a span:hover{
      color: #ef4368;
  }


  @media (min-width: 992px) {
    main {
      margin-left: var(--offcanvas-width);
    }
    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
      display: none;
    }
    .sidebar-nav {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - var(--topNavbarHeight));
      top: var(--topNavbarHeight);
    }
  }


.information{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .information{
        width: 75%;
    }
    .information span h5{
        font-size: 16px;
    }
  }



.main_content{
    width: 70%;
    position: relative;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
}

@media (max-width: 992px) {
    .main_content{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .main_content{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }


.main_content .container{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.main_content .container .heading span{
    font-size: 50px;
    font-weight: 700;
    color: #004175;
    letter-spacing: 1px;
}

.main_content .container .heading span  b{
    font-size: 60px;
    color: #056fc5;
}


  @media (max-width: 600px) {
    .main_content .container .heading span{
        font-size: 26px;
    }
    .main_content .container .heading span b{
        font-size: 32px;
        color: #056fc5;
    }
  }

.main_content .container-fluid .what_you_get{
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}


.main_content .container-fluid .what_you_get .work{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
}

.main_content .container-fluid .what_you_get .work .work_data{
    padding: 0px;
}

.main_content .container-fluid .what_you_get .work .work_data h5{
    margin-top: 20px;
    font-size: 16px;
    color: #004175;
    font-weight: 700;
}

@media (max-width: 600px) {
    .main_content .container-fluid .what_you_get .work{
        flex-direction: column;
    }
    .main_content .container-fluid .what_you_get .work .work_data{
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }

    .main_content .container-fluid .what_you_get .work .work_data h5{
        font-size: 16px;
        margin-left: 15px;
    }
  }

  .main_content .container-fluid .how_to_complete{
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}


.main_content .container-fluid .how_to_complete .how_to_complete_tasks1{
    width: 80%;
    padding: 20px;
    background-color: #004175;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 40px;
}


.main_content .container-fluid .how_to_complete .how_to_complete_tasks2{
    width: 80%;
    padding: 20px;
    background-color: #004175;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 150px;
}

.main_content .container-fluid .how_to_complete .how_to_complete_tasks3{
    width: 80%;
    padding: 20px;
    background-color: #004175;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 40px;
}

.main_content .container-fluid .how_to_complete .how_to_complete_tasks4{
    width: 80%;
    padding: 20px;
    background-color: #004175;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 150px;
}

@media (max-width: 600px) {
    .main_content .container-fluid .how_to_complete .how_to_complete_tasks1{
        width: 100%;
    }
    .main_content .container-fluid .how_to_complete .how_to_complete_tasks2{
        width: 100%;
        margin-left: 0;
    }
    .main_content .container-fluid .how_to_complete .how_to_complete_tasks3{
        width: 100%;
    }
    .main_content .container-fluid .how_to_complete .how_to_complete_tasks4{
        width: 100%;
        margin-left: 0;
    }
  }

/* Dashboard Ends */

  

/* Subscription Starts */

.subscription{
    width: 70%;
    position: absolute;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 992px) {
    .subscription{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .subscription{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }

.subscription .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.subscription .container p{
    margin-bottom: 20px;
    text-align: left;
}

.subscription .container h2{
    margin-bottom: 20px;
    text-align: left;
}


.subcription_card{
    position: relative;
    text-align: center;
    background-color: #004175;
    color: #fff;
    margin: 0 20px;
    padding: 30px;
    border-radius: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.subscription_heading{
    background-color: transparent;
    border-bottom: 0;
    padding: 15px 0;
    border-radius: 3px 3px 0 0;
}

.subscription_heading h3{
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fafafa;
}

.subscription_price span{
    font-weight: 600;
}

.subscription_price{
    position: relative;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
    font-size: 54px;
    line-height: 1;
}

.subscription_price .duration{
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #888;
    letter-spacing: 1px;
    vertical-align: baseline;
    color: #999;
    margin: 20px 0 0 3px;
}

.subscription_price::after, .subscription_features{
    border: 0;
}

.subscription_features ul{
    margin: 0;
    padding: 15px 0;
    list-style: none;
}

.subscription_features li{
    padding:  6px 0;
    font-size: 14px;
}

.subscription_button{
    padding: 10px 15px;
    background-color: #056fc5;
    border-radius: 5px;
}

.subscription_button:hover{
    padding: 10px 15px;
    background-color: #018dff;
    transition: 0.5s;
    border-radius: 5px;
}

.subscription_button a{
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
}

.label_area{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -1px;
    right: -1px;
    text-align: center;
    border-top-right-radius: 3px;
    background: #ef4368;
}

.label_area span{
    position: absolute;
    top: 18px;
    right: -5px;
    text-transform: uppercase;
    transform: rotate(45deg);
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
}

.label_area:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 0 0 70px;
    border-color: transparent transparent transparent #004175;
}

@media (max-width: 767px){
    h3{
        font-size: 20px;
    }
    .subcription_card{
        margin-bottom: 30px;
        margin-top: 10px;
    }
}


/* Subscription Starts */

/* Add Sites Start */


.add_sites{
    width: 70%;
    position: absolute;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 992px) {
    .add_sites{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .add_sites{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }

.add_sites .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.add_sites .container p{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.add_sites form{
    max-width: 60%;
    margin: auto;
    border-bottom: 5px;
    background: #004175;
    padding: 20px;
    color: #fff;
    text-align: left;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .add_sites .container form{
        max-width: 100%;
    }
    
  }

.add_sites form input[type=text], input[type=number], input[type=url], select{
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add_sites form label{
    font-size: 20px;
    font-weight: 500;
}

.add_sites form input[type=submit]{
    width: 50%;
    background-color: #fafafa;
    color: #004175;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;
    font-weight: 500;
}

.add_sites form input[type=submit]:hover{
    background-color: #018dff;
    color: #fff;
    transition: 0.5s;
}


/* Add Sites End */


/* Profile Page */

.my_profile{
    width: 70%;
    position: absolute;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
    text-align: left;
}

@media (max-width: 992px) {
    .my_profile{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .my_profile{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }

.my_profile .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.my_profile .container p{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.my_profile .container .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.my_profile .container .emp-profile .profile-img{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.my_profile .container .profile-img img{
    width: 50%;
    height: 90%;
}

.my_profile .container .profile-img .file {
    position: relative;
    overflow: hidden;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #004175;
}


.my_profile .container .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}


.my_profile .container .profile-head h5{
    color: #333;
}


@media (max-width: 600px) {
    .my_profile .container .profile-head h5{
        margin-top: 50px;
    }
  }

.my_profile .container .profile-head h6{
    color: #0062cc;
}


.my_profile .container .profile-edit-btn{
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
    color: #004175;
    cursor: pointer;
    font-size: 14px;
}

.my_profile .container .profile_referal{
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.my_profile .container .profile_referal span{
    color: #0062cc;
}

.my_profile .container .profile-head .nav-tabs{
    margin-bottom:5%;
}


.my_profile .container .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}


.my_profile .container .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #004175;
}

.my_profile .container .profile-work{
    padding: 14%;
    margin-top: -15%;
}

.my_profile .container .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.my_profile .container .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.my_profile .container .profile-work ul{
    list-style: none;
}


.my_profile .container .profile-tab label{
    font-weight: 600;
}


.my_profile .container .profile-tab p{
    font-weight: 600;
    color: #004175;
}

/* MyProfile Ends */


/* Referal Page Starts */

.referal{
    width: 70%;
    position: absolute;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
    text-align: left;
}

@media (max-width: 992px) {
    .referal{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .referal{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }

.referal .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.referal .container p{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}


.referal .container h2 span{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: left;
    color: #004175;
    padding-left: 20px;
}

/* Referal Page Ends */



.facebook_like{
    width: 70%;
    position: absolute;
    left: calc(var(--offcanvas-width)+200px);
    top: calc(var(--topNavbarHeight)+70px);
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 992px) {
    .facebook_like{
        position: relative;
        width: 100%;
        left: 0;
        top: var(--topNavbarHeight);
        padding-top: 10px;
    }
  }

  
@media (min-width: 992px) {
    .facebook_like{
        position: relative;
        left: var(--offcanvas-width);
        top: var(--topNavbarHeight);
        padding-top: 10px;
        overflow-x: hidden;
    }
  }

.facebook_like .container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.facebook_like .container {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}


.facebook_like .container .notice{
    background-color: yellow;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.facebook_like_content{
    text-align: center;
    margin-top: 20px;
}

.facebook_like_point{
    font-weight: 500;
    font-size: 18px;
}

.facebook_like_profile img{
    width: 200px;
}

.facebook_like_button input{
    background-color: #004175;
    color: #fff;
    font-size: 22px;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.facebook_like_button input:hover{
    background-color: #0062cc;
}

.facebook_like_skip input{
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
}

.facebook_like_skip input:hover{
    background-color: rgb(110, 110, 110);
}


